body {
    background-color: Thistle;
    background-size: cover;
    font-family: sans-serif;
    margin: 0 auto;
    max-width: 1024px;
    min-width: 256px;
    padding: 8px 24px 24px;
    border: 2px solid Gray;
    border-radius: 30px;
    text-align:center
}

nav ul {
    list-style: none;
    background-color: #B577B5;
    border: 4px solid #111;
    border-radius: 10px;
    font-weight: bold;
    padding: 16px;
}

nav ul li {
    display: inline;
    border-right: 3px solid #111;
    padding: 3px;
}

nav ul li:last-child {
    border-right: none;
}

nav ul li a {
    text-decoration: none;
    color: #111;
}

nav ul li a:hover {
    text-decoration: underline;
}

nav li.selected {
    color: #606060;
}

section {
    border: 2px solid Gray;
    border-radius: 16px;
}
html {
    background: radial-gradient(circle, SkyBlue, SkyBlue 50%, LightCyan 50%, SkyBlue);
    background-size: 8px 8px;
    }